.servicePage{
    background-color:rgb(255, 211, 8);
    padding: 50px;
   
}
.serviceTitle{
    margin-left: 150px;
    color: #004066;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    
}
.serviceBox-Wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.serviceBox{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 330px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}
.serviceBox:hover{
    background-color: #fcb900;
    cursor: pointer;
}
.boxTitle{
    color:#004066 ;
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.boxDiscription{
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;

}
.link{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 767px){
    .servicePage{
        background-color:rgb(255, 211, 8);
        height: 1800px;
       
    }
    .serviceTitle{
        margin-left: -47px;
        margin-right: 130px;
        color: #004066;
        font-weight:bold;
        font-size: 20px;
        padding-bottom: 45px;
        text-align: center;
        line-height: 20px;
        
    }
    .boximagees{
        width: 80px;
        height: 90px;
    }
    .serviceBox-Wrap{
        margin-left: -190px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 190px;
        justify-content: center;
    }
    .serviceBox{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 50px;
        margin-bottom: -180px;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: black;
    }
    .serviceBox:hover{
        background-color: #fcb900;
        cursor: pointer;
    }
    .boxTitle{
        color:#004066 ;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .boxDescription{
        text-align: center;
        font-size:8px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    
    }
    .link{
        text-decoration: none;
        color: black;
    }
    

}