.slide-Title{
    text-align: center;
    color: #004066;
    font-weight: 500;
    font-size: 48px;
}
.slideBtn{
  font-weight: 10;
  font-size: 64px;
  color: #00b4d5;
  overflow: visible;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wraplogos{
    width: 100vw;
    display: flex;
    justify-content: center;

}
.slider{
    width: 1000px;
    position: relative;
    display: flex;
    overflow: hidden;

}
.slide-1{
    margin-bottom: 30px;
}
.slide-1 , .slide-2{
    display: flex;
    animation: slideshows 10s linear infinite;
}
.slide-1:hover, .slide-2:hover {
    animation-play-state: paused;
}
.slide-1 , .slide-2 img {
    padding: 0 30px 0 30px;
}

@keyframes slideshows {
    0%, 100% { transform: translateX(0); }
    20%, 70% { transform: translateX(-50%); }
    100% { transform: translateX(-100%); } 
}
