.wordContainer{
    background-color:#e6e7e9;
    padding: 65px 0 25px;
    
}  
.Title{
    margin-left: 150px;
    color: #004066;
    font-weight: 500;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 20px;
} 
.wordWrap{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    gap: 0px;
    margin-left: 110px;
    margin-right: 110px;
   
    
   
}
.wordBox{
    width: 320px;
    height: 240px;
    gap: 20px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
   
}  
.positionOfPerson{
    color: #00bac7;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900;
}
 
h6{
 margin: 0px;
 padding: 0px;

}