.diversity-Cover2{
    background-color: #f1f1f3;
    margin-top: 40px;
}
.diversity-Cover2{
    display: flex;
}
.diversity-Cover2-title{
    color: #004066;
    font-weight: 610;
    font-size: 48px;
    align-items: center;
    line-height: 55px;
    margin-left: 140px;
}
.diversity-point{
    text-align: start;
    align-items:center;
    justify-content: center;
    margin-left: 130px;
    margin-top: 50px;
}
.diCover2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: -350px;
}
.diiCover2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: -250px;
}
.diversity-Cover3-Tilte{
    color: #004066;
    font-weight: 610;
    font-size: 44px;
    line-height: 55px;
    margin-left: 140px;
}